body {
    text-align: center;
    min-width: 465;
}

.form-control {
    max-width: 500px;
    border-color: black;
    height: auto;
    width: auto;
    margin: none;
    display: inline;
}

.fixed-header {
    position: fixed;
    opacity: 100%;
    fill: white;
    fill-opacity:100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    /* Add any additional styles as needed */
  }

.custom-button {
    background: none;
    border: none;
    max-width: 100%;
  }

  #previous-button,
  #next-button {
    /* Remove default Bootstrap styles */
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    height: auto;
    width: auto;
    margin: auto;
    max-width: 100%;
  }

  #previous-button:hover,
  #next-button:hover {
    /* Remove hover effect */
    background-color: transparent;
    height: auto;
    width: auto;
    margin: auto;;
  }

  #previous-button {
    padding-right: 20px;
  }

.form-inline {
    max-width: 225px;
    border-color: black;
    height: auto;
    width: auto;
    margin: auto;
    display: inline;
}

.button-size {
    font-size: 18px;
  }

#search-input {
    text-align: center;
    border-radius: 12px;
    flex-shrink: inherit;
}


.header__item {
    max-width: 100%;
    height:auto;
    width: auto;
}

h5 {
    text-transform: capitalize;
 }

.pokemon-button {
    text-transform: capitalize;
    border-radius: 12px;
    font-weight: bold;
}

p {
    text-transform: capitalize;
}

.header_link{
    align-items: center;
    color: slategrey;
    font-style:normal
}